.PdfjsAnnotationExtension_Comment_hidden {
    .CustomToolbar::after {
        display: none;
    }
}
.CustomToolbar {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    .buttons {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 3px;
        user-select: none;
        li {
            align-items: center;
            height: 100%;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 3px;
            color: var(--main-color);
            .ant-upload-wrapper {
                line-height: normal;
            }

            .icon {
                font-size: 18px;
                padding: 5px 10px 3px 10px;
                border-bottom: 1px solid transparent;
                opacity: 0.9;
            }

            .name {
                font-size: 14px;
                padding: 1px 10px 2px 10px;
            }
        }

        li.selected {
            border: 1px solid var(--toolbar-border-color);
            background-color: var(--toolbar-border-color);
        }

        li.disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }

        li.disabled:hover {
            background-color: transparent;
        }
    }

    .splitToolbarButtonSeparator {
        height: 30px;
        margin: 0 5px;
        min-width: 1px;
    }
    .right {
        position: absolute;
        right: 10px;
    }
}

.CustomToolbar::after {
    content: '';
    display: block;
    width: 330px; /* 右边间隔 */
    height: 100%; /* 确保占位符高度和工具栏一致 */
    flex-shrink: 0; /* 防止占位符被缩小 */
}

.SignatureTool {
    margin: 0 auto;
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    &-Header {
        padding: 10px;
    }
    &-Container {
        background-color: #eee;
        border: 1px solid #ccc;
        position: relative;
        margin: 0 auto;
        input {
            background-color: transparent;
            border: none;
            margin: 0 auto;
            text-align: center;
            display: block;
            width: 100%;
            outline: none;
        }
        input::-webkit-input-placeholder {
            color: #ccc;
        }
        .konvajs-content {
            z-index: 99;
            cursor: crosshair;
        }

        &-info {
            font-size: 20px;
            z-index: 0;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    &-ImagePreview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    &-Toolbar {
        border: 1px solid #ccc;
        border-top: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .colorPalette {
            display: flex;
            margin: 8px;

            .cell {
                cursor: pointer;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;

                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 100px;
                }
            }

            .active {
                border: 1px solid #bbb;
            }
        }

        .clear {
            padding: 8px;
            cursor: pointer;
        }

        .clear:hover {
            text-decoration: underline;
        }
    }
}

.SignaturePop {
    .ant-popover-inner {
        padding: 5px;
    }
    &-Container {
        max-height: 200px;
        overflow: auto;
    }
    ul,
    li {
        margin: 0;
        list-style: none;
        padding: 0;

        li:hover {
            background-color: #ccc;
        }
    }
    li {
        display: flex;
        margin: 5px;
        justify-content: center;
        align-items: center;
        img{
            height: 48px;
            max-width: 100px;
            overflow: clip;
            object-fit: contain;
        }
        span {
            margin-left: 5px;
            cursor: pointer;
        }
    }

    &-Toolbar {
        padding: 5px;
    }
}

.StampPop {
    width: 300px;
    .ant-popover-inner {
        padding: 10px;
    }
    &-Container {
        max-height: 200px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
    }
    ul,
    li {
        margin: 0;
        list-style: none;
        padding: 0;
        li:hover {
            background-color: #ccc;
        }
    }
    li {
        display: flex;
        margin: 5px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 120px;
        text-align: center;
        img{
            height: 48px;
            max-width: 100px;
            overflow: clip;
            object-fit: contain;
        }
        span {
            margin-left: 5px;
            cursor: pointer;
        }
    }
    &-Toolbar {
        padding: 5px;
    }
}

.StampTool {
    margin: 0 auto;
    &-Container {
        position: relative;
        margin: 0 auto;
        .ant-form{
            margin-top: 12px;
        }
        .ant-form-item{
            margin-bottom: 12px;
        }
        &-ImagePreview {
            background-color: #eee;
            border: 1px solid #ccc;
            overflow: auto;
            .konvajs-content {
                z-index: 99;
                margin: 0 auto;
            }
        }
        &-info {
            font-size: 20px;
            z-index: 0;
            color: #ccc;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    &-ImagePreview {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    &-Toolbar {
        border: 1px solid #ccc;
        border-top: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .colorPalette {
            display: flex;
            margin: 8px;

            .cell {
                cursor: pointer;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;

                span {
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    border-radius: 100px;
                }
            }

            .active {
                border: 1px solid #bbb;
            }
        }

        .clear {
            padding: 8px;
            cursor: pointer;
        }

        .clear:hover {
            text-decoration: underline;
        }
    }
}

@media all and (max-width: 1150px) {
    .CustomToolbar {
        .buttons {
            .name {
                display: none;
            }
        }
    }
    .CustomToolbar::after {
        display: none;
    }
}
@media all and (max-width: 690px) {
    .CustomToolbar {
        justify-content: flex-start;
        .buttons {
            margin-left: 5px;
            padding-right: 5px;
        }
    }
}

@media (hover: hover) {
    /* 只在支持 hover 的设备上保留 :hover 效果 */
    .CustomToolbar .buttons li:hover {
        background-color: var(--button-hover-color);
    }
}
@media (hover: none) {
    /* 在不支持 hover 的设备上，例如触屏设备，禁用 :hover 效果 */
    .CustomToolbar .buttons li:active {
        background-color: var(--button-hover-color); /* 使用 active 替代 */
    }
}

//  custom styles for e-court start
:root {
    --button-hover-color: color-mix(in srgb, currentColor 17%, transparent);
}

.CustomToolbar .buttons li {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border: none;
}

.CustomToolbar .buttons li.selected {
    background-color: var(--button-hover-color) !important;
    border: none !important
}

#editorModeButtons {
    display: none;
}

// .CustomToolbar ul.buttons:nth-child(1) li:nth-child(2),
// .CustomToolbar ul.buttons:nth-child(1) li:nth-child(3),
// .CustomToolbar ul.buttons:nth-child(1) li:nth-child(5),
// .CustomToolbar ul.buttons:nth-child(1) li:nth-child(11),
// .CustomToolbar ul.buttons:nth-child(1) li:nth-child(12),
.CustomToolbar .buttons li .name,
.CustomToolbar .splitToolbarButtonSeparator {
    display: none;
}

.CustomToolbar ul.buttons li[title="Save"],
.CustomToolbar ul.buttons li[title="Export"] {
    display: none !important;
}

.PdfjsAnnotationExtension .toolbar {
    position: relative;
}

.CustomToolbar .buttons.right li .icon {
    padding: 0px;
}

.CustomToolbar .buttons.right li,
.CustomToolbar .buttons.right li:hover {
    border: none !important;
    background-color: none !important;
}

.CustomToolbar .buttons.right li.selected {
    border: none !important;
    background-color: none !important;
}

.CustomToolbar .right {
    top: -36px;
    right: 100px;
}

.CustomToolbar .buttons.right li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 30px;
    height: 36px;
    font-size: 0px;
}

.CustomToolbar .buttons.right li .icon:hover {
    cursor: pointer;
}

@media (hover: hover) {
    .CustomToolbar .buttons.right li:hover {
        background-color: none !important;
    }
}



.PdfjsAnnotationExtension #viewerContainer {
    right: 0px !important;
}




.CustomComment {
    top: 60px;
    height: calc(100% - 60px);
    background-color: #fff;
    z-index: 1;
    padding-left: 15px;
    border-left: 1px #cfd4da solid;
}

.PdfjsAnnotationExtension #toolbarContainer {
    height: 60px;
}

.PdfjsAnnotationExtension #viewerContainer {
    top: 60px !important;
}

.PdfjsAnnotationExtension.PdfjsAnnotationExtension_Comment_hidden .CustomComment {
    right: -330px
}

.CustomToolbar {
    height: 24px;
    justify-content: center;
    overflow: visible;
    position: absolute;
    left: 0;
    top: 36px;

}

.CustomToolbar::after {
    display: none;
}

@media screen and (max-width:749px) {
    .CustomToolbar .right {
        top: -36px;
        right: 38px;
    }
}

.CustomToolbar ul.buttons:nth-child(1) {
    gap: 14px;
    z-index: 99;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CustomToolbar ul.buttons:nth-child(1) li {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.CustomToolbar ul.buttons:nth-child(1) li:after {
    width: 0px;
    height: 14px;
    content: "";
    position: absolute;
    right: -6px;
    top: 4px;
    background-color: #fff;
    border-left: 1px solid var(--separator-color);
}



.CustomToolbar ul.buttons:nth-child(1) li .icon {
    font-size: 15px;
    color: #fff;
}

@media only screen and (min-width: 1024px) {
    .c-boxContainer.d1 .c-boxContainer__content--leftsection .tab-content {
        height: calc(100dvh - 190px);
    }
}

/* .CustomToolbar ul.buttons li[title="Note"] {
      position: absolute;
      width: 30px;
      height: 36px;
      top:0;
      right:142px;
      border:none;
    }
       .CustomToolbar ul.buttons li[title="Note"]  .icon {
      display: flex;
      align-items: center;
      justify-self: center;
      width: 30px;
      height: 36px;
      font-size: 0px;
      border:none;
       } */
.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon {
    position: relative;
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon:before {
    opacity: var(--toolbar-icon-opacity);
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    content: "";
    background-color: var(--toolbar-icon-bg-color);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center;
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon:before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon:before {
    width: 14px;
    height: 14px;
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon:is(:hover, :focus-visible):before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon:is(:hover, :focus-visible):before,
.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon:is(:hover, :focus-visible):before,
CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon:is(:hover, :focus-visible):before {
    background-color: var(--toolbar-icon-hover-bg-color);
}


.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon,
.CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon {
    font-size: 0px;
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Signature"] .icon:before {
    -webkit-mask-image: var(--toolbarButton-editorSignature-icon);
    mask-image: var(--toolbarButton-editorSignature-icon);
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Free Highlight"] .icon:before {
    -webkit-mask-image: var(--toolbarButton-editorHighlight-icon);
    mask-image: var(--toolbarButton-editorHighlight-icon);
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Text"] .icon:before {
    -webkit-mask-image: var(--toolbarButton-editorFreeText-icon);
    mask-image: var(--toolbarButton-editorFreeText-icon);
}

.CustomToolbar ul.buttons:nth-child(1) li[title="Free Hand"] .icon:before {
    -webkit-mask-image: var(--toolbarButton-editorInk-icon);
    mask-image: var(--toolbarButton-editorInk-icon);
}

button#next, button#previous{
    z-index: 2;
}
#commentAccordionExtension {
    padding-bottom: 10px;
}
.commentliner {
    border-left:none;
    border-right:none;
}

.buttons.export-pdf {
    margin-left:15px;
}
.buttons.export-pdf  .export-button {
    width: 24px;
    height: 24px;
}

.buttons.export-pdf  .export-button button {
    width: 24px;
    height: 24px;
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-self: center;
    outline: none;

}
.buttons.export-pdf  .export-button button  .anticon svg {
    fill:white
}

//  custom styles for e-court end
