.PdfjsAnnotationExtension_Comment_hidden {
    .CustomComment {
        display: none;
    }
}
.CustomComment_filterContent {
    ul,
    li {
        list-style: none;
    }
    li {
        padding: 3px;
    }
    li:hover {
        background-color: #ddd;
    }
    li > label {
        width: 100%;
    }
}
.CustomComment {
    width: 330px;
    position: absolute;
    // top: 107px;
    top: 60px;
    right: 0;
    // height: calc(100vh - 107px);
    height: calc(100vh - 60px);
    color: var(--main-color);
    // border-left: 1px solid var(--toolbar-border-color);
    overflow: auto;
    font: message-box;
    font-size: 14px;
    .filters {
        padding: 5px;
    }
    .list {
        // padding: 5px 5px 25px 5px; // commented for e-court
        .group {
            // margin-bottom: 10px; // commented for e-court
        }
        h3 {
            font-weight: normal;
            font-size: 14px;
            span {
                float: right;
            }
        }
        .comment {
            // border: 1px solid var(--toolbar-border-color); // commented for e-court
            background-color: var(--toolbar-bg-color);
            // border-radius: 8px; // commented for e-court
            // padding:5px 10px 10px 10px; // commented for e-court
            line-height: 150%;
            .ant-typography{
                color: var(--main-color) !important;
            }
            p {
                white-space: pre-wrap;
                line-height: 150%;
                padding: 0;
                margin-top: 5px;
            }
            .title {
                display: flex;
                align-items: center;
                cursor: default;
                .username {
                    min-width: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span{
                        display: block;
                        font-size: 12px;
                        line-height: 120%;
                        opacity: 0.5;
                    }
                }
                .annotation-icon {
                    margin-right: 5px;
                    align-self: flex-start;
                }
                .tool {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-left: 5px;
                        border-radius: 8px;
                        display: inline-block;
                        padding: 0 3px !important;
                    }
                    .icon:hover {
                        background-color: var(--dropdown-btn-bg-color);
                    }
                }
            }
            .reply {
                background-color: var(--dropdown-btn-bg-color);
                border-radius: 5px;
                padding: 5px 10px;
                margin-top: 8px;
                margin-left: 15px;
                .icon:hover {
                    background-color: var(--toggled-btn-bg-color) !important;
                }
            }
        }
        .comment:hover {
            background-color: var(--doorhanger-hover-bg-color);
        }
        .selected {
            border-color: #1677ff72;
            background-color: var(--doorhanger-hover-bg-color);            
        }
        h3,
        .comment {
            margin-bottom: 8px;
        }
    }
}

@media all and (max-width: 780px) {
    .CustomComment {
        width: 250px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 250px;
        }
    }
}
@media all and (max-width: 690px) {
    .CustomComment {
        width: 150px;
    }
    .PdfjsAnnotationExtension {
        #viewerContainer {
            right: 150px;
        }
    }
}

@media (hover: hover) {
}
@media (hover: none) {
}

.accordion-header .accordion-page-number {

    width: 100%;
    color: var(--bs-accordion-btn-color);
    border-style: double;
    border-width: 1px 0px 1px 0;
    position: relative;
    padding: 5px 8px;
    font-size: 14px;
    color: var(--themeClr1);
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f6f6;
    border-color: #cfd4da;
}
.commenttextbox {
    width: 96%;
    margin-left:2%;
}

.commenttexterea {
    outline: none;
    border: none !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    font-size: var(--fontSize14) !important;
    border-bottom: 1px rgba(0, 0, 0, .42) solid !important;
    width: 100%;
    position: relative;
    padding: 0 0 6px;
    background-color: transparent;
    font-weight: 400;
    width: 94% !important;
    margin-left: 3% !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    background: transparent !important;
}
.commenttexterea:focus {
    outline: none;
    border-bottom: 3px var(--themeColor) solid !important;
}
:where(.css-1odpy5d).ant-dropdown .ant-dropdown-menu {
    padding:0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
}
.commentboxheader {
    padding:6px;
}

.commenttextbox:hover{
    background-color: #eee !important;
    box-shadow: #00000026 1.95px 1.95px 2.6px !important;
    border: 1px #e0e0e0 solid !important;
}
.commentpanelviewContentlist {
    min-height: 100%;
    border-left: 1px #cfd4da solid;
    height: auto;
}
.commentpanelviewContentlist .title {
    background-color: #eee;
    border-style: double;
    border-width: 0 0px 1px 0;
    position: relative;
    border-color: #d0d0d0;
    padding: 10px 8px;
    font-size: 17px;
    color: var(--themeClr1);
    height: 45px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
